<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="author" content="parth_parikh">
		<meta name="description" content="A movie recommender system">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common_styles.css') }}" />
		<title>Movie Database</title>
		<script type="text/javascript">
			window.onload = function() {
				var genres_list = document.getElementById("top-movies-list");
				var genres_list_undo = document.getElementById("top-movies-list-undo");

				genres_list.onclick = function() {
					document.getElementsByClassName('search-movie-homepage')[0].style.display = 'none';
					document.getElementsByClassName('top-search-label')[0].style.display = 'none';
					document.getElementsByClassName('top-search-options')[0].style.display = 'inline';
					return false;
				}

				genres_list_undo.onclick = function() {
					document.getElementsByClassName('search-movie-homepage')[0].style.display = 'block';
					document.getElementsByClassName('top-search-label')[0].style.display = 'block';
					document.getElementsByClassName('top-search-options')[0].style.display = 'none';
					return false;
				}

			}
		</script>
	</head>

	<body>
		<div class="homepage">
			<img src="{{ url_for('static', filename='images/logo-homepage.png') }}" class="homepage-logo">
			<div class="search-movie-homepage">
				<form action="" method="get">
					<label class="search-label">
						Enter movie name to get recommendations!
						<br>
						<input type="text" id="search" name="recommend">
					</label>
					<button class="search-button">Recommend</button>				
				</form>
			</div>

			<div class="top-search-label">
				<a id="top-movies-list" href="/">Top Rated Movies</a>
			</div>

			<div class="top-search-options">
				<div class="top-search-label">Search for Top Rated Movies!</div>
				<form action="" method="get">
					<select name="genres">
						<option value="All">All</option>
						<option value="Action">Action</option>
						<option value="Animation">Animation</option>
						<option value="Fantasy">Fantasy</option>
						<option value="Science Fiction">Science Fiction</option>
						<option value="Crime">Crime</option>
						<option value="Drama">Drama</option>
						<option value="Thriller">Thriller</option>
						<option value="Animation">Animation</option>
						<option value="Family">Family</option>
						<option value="Western">Western</option>
						<option value="Comedy">Comedy</option>
						<option value="Romance">Romance</option>
						<option value="Horror">Horror</option>
						<option value="Mystery">Mystery</option>
						<option value="History">History</option>
						<option value="War">War</option>
						<option value="Music">Music</option>
						<option value="Documentary">Documentary</option>
						<option value="Foreign">Foreign</option>
						<option value="TV Movie">TV Movie</option>
					</select>
					<input type="hidden" name="offset" value="0">
					<button type="submit" class="search-button">Recommend</button>
				</form>
				<div class="top-search-label">
					<a id="top-movies-list-undo" href="/">Homepage</a>
				</div>
			</div>
		</div>
	</body>
</html>