<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="author" content="parth_parikh">
		<meta name="description" content="A movie recommender system">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common_styles.css') }}" />
		<title>Movie Database</title>
	</head>

	<body>
		<img src="{{ url_for('static', filename='images/logo-homepage.png') }}" class="homepage-logo">
		{% if rec_id is not none %}
		<div class="recommend-for">Recommendations for <span><a href="/movie?title={{ rec_title }}&id={{ rec_id }}">{{ rec_title }}</a></span></div>
		{% else %}
		<div class="recommend-for">Recommendations for <span>{{ rec_title }}</span></div>
		{% endif %}
		<div class="recommendations">
			<div class="row">
			{% for title in titles %}
				<div class="container">
					<img class="posters" src="{{ images[title] }}" alt="{{ title }}" width="185px" height="283px">
					<div class="overlay">
						<div class="overlay-text">
							<a class="rec-img" href="/movie?title={{ title }}&id={{ m_id[loop.index-1] }}">
								<b>{{ title }}</b>
								<br>
								<pre>Rating: {{ votes[loop.index-1] }}</pre>
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
		{% if rec_id is none %}
		<div class="page-nos">
			{% if offset > 0 %}
				<a href="/?genres={{ rec_title }}&offset={{ prev_offset }}">Previous</a> | 
			{% endif %}
				<a href="/?genres={{ rec_title }}&offset={{ next_offset }}">Next</a>
		</div>
		{% else %}
			NONE
		{% endif %}
		<div class="go-homepage">
			<a id="top-movies-list" href="/">Homepage</a>
		</div>
	</body>
</html>