<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="author" content="parth_parikh">
		<meta name="description" content="A movie recommender system">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common_styles.css') }}" />
		<title>Movie Database</title>
	</head>

	<body>
		<img src="{{ url_for('static', filename='images/logo-homepage.png') }}" class="homepage-logo">
		<div class="recommendations">
			<div class="row">
			{% for title in titles %}
				<div class="container">
					<img class="posters" src="{{ images[title] }}" alt="{{ title }}" width="185px" height="283px">
					<div class="overlay">
						<div class="overlay-text">
							<a class="rec-img" href="/movie?title={{ title }}&id={{ m_id[loop.index-1] }}">
								<b>{{ title }}</b>
								<br>
								<pre>Rating: {{ votes[loop.index-1] }}</pre>
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</body>
</html>