.movie-info {
	max-width: 500px;
	margin: auto;
}

.meta-info {
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	border-radius: 10px;
}

.title, .tagline {
	text-align: center;
}

.title {
	font-weight: bold;
	font-size: 22px;
}

.tagline {
	font-style: italic;
	padding-bottom: 20px;
}

.meta-attr {
	font-weight: bold;
}

.actors {
	padding-bottom: 10px;
}

.imdb_id {
	padding-bottom: 20px;
}

a {
	color: tomato;
	text-decoration: none;
}

a:hover {
	border-bottom: 4px solid black;
}

.overview {
	text-align: center;
	background-color: #f3f3f3;
}

.rec-movies {
	padding-top: 20px;
	padding-bottom: 20px;
}

@media (max-width: 1000px) {
	a:hover {
		border-bottom: none;
	}
	.posters {
		margin: 2px;
		border-radius: 10px;
	}
}